<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lor_deck_maker">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoRDeckMaker">
        <activity android:name="com.example.lor_deck_maker.SecurityActivity"
            android:parentActivityName="com.example.lor_deck_maker.SettingsActivity"/>
        <activity android:name="com.example.lor_deck_maker.ArchiveActivity"
            android:parentActivityName="com.example.lor_deck_maker.MainActivity"/>
        <activity android:name="com.example.lor_deck_maker.ImageActivity"
        android:parentActivityName="com.example.lor_deck_maker.BuildDeckActivity"/>
        <activity android:name="com.example.lor_deck_maker.BuildDeckActivity"
            android:parentActivityName="com.example.lor_deck_maker.MainActivity"/>
        <activity android:name="com.example.lor_deck_maker.NavActivity"
            android:parentActivityName="com.example.lor_deck_maker.MainActivity"/>
        <activity android:name="com.example.lor_deck_maker.LoginActivity"
            android:parentActivityName="com.example.lor_deck_maker.MainActivity"/>
        <activity android:name="com.example.lor_deck_maker.SettingsActivity"
            android:parentActivityName="com.example.lor_deck_maker.MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>